In [1]:
from sklearn.preprocessing import FunctionTransformer
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('diamonds.csv')

In [3]:
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
trf = FunctionTransformer(func=np.log,)

In [9]:
df = df.replace(0,15)

In [11]:
new_df = trf.fit_transform(df.drop(columns=['cut','clarity','color']))

In [12]:
new_df.head()

      carat     depth     table     price         x         y         z
0 -1.469676  4.119037  4.007333  5.786897  1.373716  1.381282  0.887891
1 -1.560648  4.091006  4.110874  5.786897  1.358409  1.345472  0.837248
2 -1.469676  4.041295  4.174387  5.789960  1.398717  1.403643  0.837248
3 -1.237874  4.133565  4.060443  5.811141  1.435085  1.442202  0.966984
4 -1.171183  4.147885  4.060443  5.814131  1.467874  1.470176  1.011601