# Date and time

In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('Insurance_Company_Complaints__Resolutions__Status__and_Recoveries.csv')

In [17]:
df.head()

,Company,File No.,Opened,Closed,Coverage,SubCoverage,Reason,SubReason,Disposition,Conclusion,Recovery,Status
0,"Anthem Health Plans, Inc",7045593,05/31/2022,06/02/2022,Group,Health Only,Claim Handling,Medically Necessary,Company Position Substantiated,Company Position Upheld,0.00,Closed
1,"Anthem Health Plans, Inc",7043381,02/28/2022,06/02/2022,Group,Health Only,Claim Handling,Provider Contract Issue,Claim Settled,Satisfied,6467.30,Closed
2,"Anthem Health Plans, Inc",7044860,05/03/2022,06/02/2022,A & H,Health Only,Claim Handling,Denial,Claim Settled,Claim Paid,147.58,Closed
3,"Anthem Health Plans, Inc",7043381,02/28/2022,06/02/2022,Group,A & H,Claim Handling,Provider Contract Issue,Claim Settled,Satisfied,6467.30,Closed
4,"Anthem Health Plans, Inc",7052007,02/23/2023,03/17/2023,A & H,A & H,Marketing & Sales,Duplicate Coverage,Compromised Settlement/Resolution,Premium Refund,2179.32,Closed

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38267 entries, 0 to 38266
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      38267 non-null  object
 1   File No.     38267 non-null  int64
 2   Opened       38267 non-null  object
 3   Closed       37304 non-null  object
 4   Coverage     35827 non-null  object
 5   SubCoverage  29307 non-null  object
 6   Reason       35650 non-null  object
 7   SubReason    35650 non-null  object
 8   Disposition  22979 non-null  object
 9   Conclusion   21173 non-null  object
 10  Recovery     38267 non-null  float64
 11  Status       38267 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 3.5+ MB

In [19]:
df['Opened']=df['Opened'].astype('datetime64[ns]')

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38267 entries, 0 to 38266
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Company      38267 non-null  object
 1   File No.     38267 non-null  int64
 2   Opened       38267 non-null  datetime64[ns]
 3   Closed       37304 non-null  object
 4   Coverage     35827 non-null  object
 5   SubCoverage  29307 non-null  object
 6   Reason       35650 non-null  object
 7   SubReason    35650 non-null  object
 8   Disposition  22979 non-null  object
 9   Conclusion   21173 non-null  object
 10  Recovery     38267 non-null  float64
 11  Status       38267 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 3.5+ MB

In [21]:
# 1 extract year

In [22]:
df.drop(columns=['Coverage','SubCoverage','Reason','SubReason','Disposition','Company','Recovery'],inplace=True)

In [23]:
df['opened_year'] = df['Opened'].dt.year

In [24]:
df.head()

,File No.,Opened,Closed,Conclusion,Status,opened_year
0,7045593,2022-05-31,06/02/2022,Company Position Upheld,Closed,2022
1,7043381,2022-02-28,06/02/2022,Satisfied,Closed,2022
2,7044860,2022-05-03,06/02/2022,Claim Paid,Closed,2022
3,7043381,2022-02-28,06/02/2022,Satisfied,Closed,2022
4,7052007,2023-02-23,03/17/2023,Premium Refund,Closed,2023

In [25]:
# 2 extract month
df['opened_month'] = df['Opened'].dt.month

In [26]:
df.head()

,File No.,Opened,Closed,Conclusion,Status,opened_year,opened_month
0,7045593,2022-05-31,06/02/2022,Company Position Upheld,Closed,2022,5
1,7043381,2022-02-28,06/02/2022,Satisfied,Closed,2022,2
2,7044860,2022-05-03,06/02/2022,Claim Paid,Closed,2022,5
3,7043381,2022-02-28,06/02/2022,Satisfied,Closed,2022,2
4,7052007,2023-02-23,03/17/2023,Premium Refund,Closed,2023,2

In [27]:
# extract days
df['opened_day'] = df['Opened'].dt.day

In [28]:
df.head()

,File No.,Opened,Closed,Conclusion,Status,opened_year,opened_month,opened_day
0,7045593,2022-05-31,06/02/2022,Company Position Upheld,Closed,2022,5,31
1,7043381,2022-02-28,06/02/2022,Satisfied,Closed,2022,2,28
2,7044860,2022-05-03,06/02/2022,Claim Paid,Closed,2022,5,3
3,7043381,2022-02-28,06/02/2022,Satisfied,Closed,2022,2,28
4,7052007,2023-02-23,03/17/2023,Premium Refund,Closed,2023,2,23

In [31]:
# name of day
df['opened_day_name'] = df['Opened'].dt.day_name()

In [32]:
df.head()

,File No.,Opened,Closed,Conclusion,Status,opened_year,opened_month,opened_day,opened_day_name
0,7045593,2022-05-31,06/02/2022,Company Position Upheld,Closed,2022,5,31,Tuesday
1,7043381,2022-02-28,06/02/2022,Satisfied,Closed,2022,2,28,Monday
2,7044860,2022-05-03,06/02/2022,Claim Paid,Closed,2022,5,3,Tuesday
3,7043381,2022-02-28,06/02/2022,Satisfied,Closed,2022,2,28,Monday
4,7052007,2023-02-23,03/17/2023,Premium Refund,Closed,2023,2,23,Thursday

In [33]:
# day of week
df['opened_dayofweek'] = df['Opened'].dt.dayofweek
df.head()

,File No.,Opened,Closed,Conclusion,Status,opened_year,opened_month,opened_day,opened_day_name,opened_dayofweek
0,7045593,2022-05-31,06/02/2022,Company Position Upheld,Closed,2022,5,31,Tuesday,1
1,7043381,2022-02-28,06/02/2022,Satisfied,Closed,2022,2,28,Monday,0
2,7044860,2022-05-03,06/02/2022,Claim Paid,Closed,2022,5,3,Tuesday,1
3,7043381,2022-02-28,06/02/2022,Satisfied,Closed,2022,2,28,Monday,0
4,7052007,2023-02-23,03/17/2023,Premium Refund,Closed,2023,2,23,Thursday,3